body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
/* header линия ссылок итд */
.header-top {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  margin-left: 8px;
  background: #ffffff;
}
.webstudio {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-studio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.header-contact-portfolio {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.header-contact {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.header-email {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.header-phone {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}

/* первый блок - пикча со слоганом */
.fblock-solutions {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  text-align: center;
}
.fblock-solutions-text {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 0px;
}
.fblock-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 380px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
/* 2й блок. тезисы + чем занимаемся */
.sblockmain {
  width: 1600px;
}

.sblock-fourblocks {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
.sblock-blocks {
  margin: 5px;
}
.sblock-blocks-headers {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.sblock-blocks-text {
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.sblock-whatwedo {
  margin-left: 600px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.sblock-pics {
  margin-top: 40px;
  margin-left: 155px;
  margin-right: auto;
}
.sb-image {
  margin: 10px;
}
/* 3й блок - дримтим */
.dreamteammain {
  width: 1600px;
  background: #f5f4fa;
}
.ourteamtext {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 120px;
  color: #212121;
}

.tblock-main {
  display: flex;
  flex-direction: row;
  width: 1600px;
  height: 648px;
  padding-left: 100px;
}
.tblock-teammateblock {
  background-color: #ffffff;
  list-style-type: none;
  text-align: center;
  margin: 20px;
  margin-bottom: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  height: 400px;
}

/* футер - адрес контакты */
.footer- {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
  margin: 8px;
}
.connect {
  margin-top: 70px;
  margin-left: 215px;
}
.adr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.email {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  text-decoration: none;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
